<template>
    <div class="row">
      <div class="col-12">
        <card :title="table.title" :subTitle="table.subTitle">
          <div slot="raw-content" class="table-responsive">
            <paper-table :data="table.data" :columns="table.columns">

            </paper-table>
          </div>
        </card>
      </div>

      <div class="col-12">
        <card class="card-plain">
          <div class="table-full-width table-responsive">
            <paper-table type="hover" :title="table.title" :sub-title="table.subTitle" :data="table.data"
                         :columns="table.columns">

            </paper-table>
          </div>
        </card>
      </div>

    </div>
</template>
<script>
import { PaperTable } from "@/components";

export default {
  components: {
    PaperTable
  },
  data() {
    return {
      table: {
        title: "Stripped Table",
        subTitle: "Here is a subtitle for this table",
        columns: {
            'First Name':'first_name',
            'Last Name':'last_name',
            'Email':'email',
            'Last Update':'updated_at'
        },
        data: []
      }
    };
  },
  mounted() {
      this.axios
          .get('api/users')
          .then(response => {
              this.table.data = response.data
          })
  }
};
</script>
<style>
</style>
