<template>
  <table class="table" :class="tableClass">
    <thead>
    <slot name="columns">
      <th v-for="(key, label) in columns" :key="label">{{label}}</th>
    </slot>
    </thead>
    <tbody>
    <tr v-for="(item, index) in data" :key="index">
      <slot :row="item">
        <td v-for="(key) in columns"
            :key="key"
            v-if="hasValue(item, key)">
          {{itemValue(item, key)}}
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
export default {
  name: 'paper-table',
  props: {
    columns: Object,
    data: Array,
    type: {
      type: String, // striped | hover
      default: "striped"
    },
    title: {
      type: String,
      default: ""
    },
    subTitle: {
      type: String,
      default: ""
    }
  },
  computed: {
    tableClass() {
      return `table-${this.type}`;
    }
  },
  methods: {
    hasValue(item, key) {
        return item[key] !== undefined;
    },
    itemValue(item, key) {
      return item[key];
    }
  }
};
</script>
<style>
</style>
